<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/headeradmin') %>

    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
            <h2 class="mt-5 mb-3 h2 text-center text-white">Detalle de Producto</h2>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <p class="lead text-white">Código: <%= product.code %></p>
                    <img src="/img/products/<%= product.img %>" class="img-fluid" alt="Imagen del producto">
                </div>
                
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <!--Content-->
                        <div class="p-4 white-text text-left">

                             <!-- Stock -->
                            <div class="mb-3">
                                <% if (product.stock > 5){ %>
                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: green; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock disponible <%= product.stock %>
                                    </h6>
                                    <a href="https://wa.me/3513441314" target="_blank" class="btn btn-sm btn-success" style="border-radius: 5px; padding: 5px; width: 25%;">
                                        <i class="fab fa-whatsapp"></i> Consultar </a>
                                <% } %>
                    
                                <% if (product.stock < 2){ %>
                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: red; border-radius: 5px; padding: 5px; width: 50%;">
                                        Bajo pedido - <%= product.stock %> unidades
                                    </h6>
                                    <a href="https://wa.me/3513441314" target="_blank" class="btn btn-sm btn-success" style="border-radius: 5px; padding: 5px; width: 25%;">
                                        <i class="fab fa-whatsapp"></i> Consultar </a>
                                <% } %>
                    
                                <% if (product.stock <2&& product.stock>=2){ %>
                                    <h6 class="font-weight-m black-text"
                                        style="background-color: yellow; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock  <%= product.stock %> 
                                    </h6>
                                    <a href="https://wa.me/3513441314" target="_blank" class="btn btn-sm btn-success" style="border-radius: 5px; padding: 5px; width: 25%;">
                                        <i class="fab fa-whatsapp"></i> Consultar </a>
                                <% } %>   
                            </div>
                             <!-- Datos de productos  -->
                            <p>Nombre: <%= product.name %></p>
                            <p>Marca: <%= product.brand %></p>
                            <p>Precio: <%= product.price %> última actualización: <%= product.price_update %></p>
                            <p>Automotriz: <%= product.automotive %></p>
                            <p>Motor: <%= product.engine %></p>
                            <p>Modelo: <%= product.model %></p>
                            <p>Num. OE: <%= product.oe_number %></p>
                            <p>Descripción: <%= product.description %></p>
                            
                            <!-- Agregar al carrito -->
                            <form class="d-flex justify-content-left">
                                
                                <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                                <button class="btn btn-primary btn-md my-0 agregar_carrito" data-id="<%= product.id %>" >Agregar al pedido<i class="fas fa-shopping-cart ml-1"></i>
                                </button>
                            </form>
                        </div>
                        <!--Content-->

                    </div>
            </div>
                <hr>
                <!--Especificaciones-->
                <div class="row d-flex justify-content-center white-text">
                    
                    <div class="col-md-6 text-center">
                        <h4 class="my-4 h4">Especificaciones</h4>

                        <p><%= product.specification %></p>

                    </div>
                    

                </div>
                
                <!-- Sustitutos-->
                <div class="white-text">
                    <h4 class="my-4 h4">Sustitutos</h4>
                    
                    <div class="row">
                      <% relatedProducts.forEach(function(relatedProduct) { %>
                      
                        <div class="col-lg-4 col-md-6 mb-4">

                            <img src="/img/products/<%= relatedProduct.img %>" class="img-fluid" alt="">
                            <p class="lead font-weight-medium" style="font-size: smaller;">Nombre: <%= relatedProduct.name %></p>
                            <p class="lead font-weight-medium" style="font-size: smaller;">Marca: <%= relatedProduct.brand %></p>
                            <a href="/products/detail/<%= relatedProduct.id %>" style="font-size: smaller;">Ver detalles</a>
                        
                        </div>

                      <% }); %>
                    </div>
                </div>
                  
    </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
</body>

</html>