<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/headeradmin') %>

        <!--Main layout-->
        <main class="mt-5 pt-4">
            <div class="container dark-grey-text mt-5">
                <h2 class="mt-5 mb-3 h2 text-center text-white">Detalle de Producto</h2>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <p class="lead text-white">Código: <%= product.code %>
                        </p>
                        <img src="/img/products/<%= product.img %>" class="img-fluid" alt="Imagen del producto">
                    </div>

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <!--Content-->
                        <div class="p-4 white-text text-left">

                            <!-- Stock -->
                            <!-- Stock -->
                            <div class="mb-3">
                                <% if (product.stock < 2){ %>
                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: red; border-radius: 5px; padding: 5px; width: 50%;">
                                        Bajo pedido - <%= product.stock %> unidades
                                    </h6>
                                    <% } else if (product.stock>= 2 && product.stock < 5) { %>
                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: yellow; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock <%= product.stock %>
                                    </h6>

                                <% } else { %>

                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: green; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock disponible <%= product.stock %>
                                    </h6>

                                <% } %>

                                    <a href="https://wa.me/3513441314" target="_blank"
                                        class="btn btn-sm btn-success"
                                        style="border-radius: 5px; padding: 5px; width: 25%;">
                                        <i class="fab fa-whatsapp"></i> Consultar
                                    </a>

                            </div>


                            <!-- Datos de productos  -->
                            <p><%= product.name %></p>
                            <p>Num. OE: <%= product.oe_number %></p>

                            <p>Precio <%= product.price %></p> 
                                
                            <p>Última actualización de precio: <%= product.price_update %></p>
                            
                            <p>Automotriz: <%= product.automotive %></p>
                                                        
                            <p>Modelo: <%= product.model %></p>
                                                                        
                            <!-- Sustitutos -->

                            <% if (substituteOEList && substituteOEList.length> 0) { %>

                                <% substituteOEList.forEach(function(oeNumber) { %>
                                    <%= oeNumber %>
                                        <% }); %>

                                            <% } else { %>
                                                <p>Sustitutos: No hay productos sustitutos disponibles.</p>
                                                <% } %>
                                                    
                                                    </p>

                                                    <!-- Agregar al carrito -->
                                                    <form class="d-flex justify-content-left">

                                                        <input type="number" value="1" aria-label="Search"
                                                            class="form-control" style="width: 100px">
                                                        <button class="btn btn-primary btn-md my-0 agregar_carrito"
                                                            data-id="<%= product.id %>">Agregar al pedido<i
                                                                class="fas fa-shopping-cart ml-1"></i>
                                                        </button>
                                                    </form>
                        </div>
                    </div>

                </div>
                <!--Content-->

            </div>
            </div>
            <hr>
            <!--Especificaciones-->
            <div class="row d-flex justify-content-center white-text">

                <div class="col-md-6 text-center">
                    <h4 class="my-4 h4">Especificaciones</h4>

                    <p>
                        <%= product.specification %>
                    </p>

                </div>


            </div>

            <!--Sustitutos-->
            <div class="col-md-6 text-center text-white">
                <h4 class="my-4 h4">Productos Sustitutos</h4>
            </div>
            <div class="row d-flex justify-content-center white-text">
                <% for (const oeNumber of substituteOEList) { %>
                    <% const substituteProduct=subsProducts.find(subsProduct=> subsProduct.oe_number === oeNumber); %>
                        <% if (substituteProduct) { %>
                            <div class="col-md-3 text-center">
                                <div class="card mb-4 bg-dark text-white">
                                    <div class="card-body">
                                        <h5 class="card-title">Producto Sustituto</h5>
                                        <img src="/img/products/<%= substituteProduct.img %>" class="img-fluid"
                                            alt="Imagen del producto sustituto">
                                        <p class="card-text">Número OE: <%= substituteProduct.oe_number %>
                                        </p>
                                        <p class="card-text">Nombre: <%= substituteProduct.name %>
                                        </p>
                                        <p class="card-text">Marca: <%= substituteProduct.brand %>
                                        </p>
                                        <!-- Agrega aquí los demás campos que deseas mostrar -->
                                        <a href="/products/detail/<%= substituteProduct.prod_id %>"
                                            class="btn btn-primary">Ver Detalles</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>

            </div>



        </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
</body>

</html>