<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/headeradmin') %>

    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    imagen?
                    <section><%= product.img %></section>       
                </div>
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <!--Content-->
                        <div class="p-4 white-text">
                            <div class="mb-3">
                                <% if (product.stock>20){ %>
                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: green; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock <%= product.stock %>
                                    </h6>
                                <% } %>
                    
                                <% if (product.stock <10){ %>
                                    <h6 class="font-weight-medium white-text"
                                        style="background-color: red; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock <%= product.stock %>
                                    </h6>
                                <% } %>
                    
                                <% if (product.stock <20&& product.stock>=10){ %>
                                    <h6 class="font-weight-bold black-text"
                                        style="background-color: yellow; border-radius: 5px; padding: 5px; width: 50%;">
                                        Stock <%= product.stock %>
                                    </h6>
                                <% } %>   
                            </div>
                           
                            <p class="lead font-weight-medium">Nombre: <%= product.name %></p>
                            <p class="lead font-weight-medium">Marca: <%= product.marca %></p>
                            <p class="lead">Precio: <%= product.price %></p>
                            
                            
                            <form class="d-flex justify-content-left">
                                <!-- Default input -->
                                <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                                <button class="btn btn-primary btn-md my-0 agregar_carrito" data-id="<%= product.id %>" >Agregar al pedido<i class="fas fa-shopping-cart ml-1"></i>
                                </button>
                            </form>
                        </div>
                        <!--Content-->

                    </div>
            </div>
               

                <hr>

                <!--Grid row-->
                <div class="row d-flex justify-content-center white-text">
                    <!--Grid column-->
                    <div class="col-md-6 text-center">
                        <h4 class="my-4 h4">Información adicional</h4>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente
                            illo soluta odit
                            voluptates,
                            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in
                            laborum.</p>

                    </div>
                    <!--Grid column-->

                </div>
                <div class="white-text">
                    <h4 class="my-4 h4">Productos relacionados</h4>
                    <!--Grid row-->
                    <div class="row">
                      <% relatedProducts.forEach(function(relatedProduct) { %>
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-6 mb-4">
                        <img src="/img/products/<%= relatedProduct.img %>" class="img-fluid" alt="">
                        <p class="lead font-weight-medium" style="font-size: smaller;">Nombre: <%= relatedProduct.name %></p>
                        <p class="lead font-weight-medium" style="font-size: smaller;">Marca: <%= relatedProduct.marca %></p>
                        <a href="/products/detail/<%= relatedProduct.id %>" style="font-size: smaller;">Ver detalles</a>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                  
    </main>
        <!--Main layout-->
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
</body>

</html>