<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <%- include('../partials/headeradmin') %>
        <main class="mt-5 pt-4 bg-dark">
            <div class="container">
                <h2 class="mt-5 mb-3 h2 text-center text-white">Nuestros Productos</h2>

               <!--  Formulario de filtrado de productos -->

                <form action="/products/search" id="filter-form" method="GET" class="row">
                    <!-- <div class="col">
                        <input type="text" class="form-control" name="name" placeholder="Buscar por nombre">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="marca" placeholder="Buscar por marca">
                    </div>
                        <button type="submit" class="btn btn-primary btn-sm">Buscar</button> -->
                        
                          <div class="form-group col-md-6">
                            <label for="codigo" class="label-white">Código:</label>
                            <input type="text" class="form-control" id="codigo" placeholder="Ingrese un código">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="descripcion" class="label-white">Descripción:</label>
                            <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripción">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="automotriz" class="label-white">Automotriz:</label>
                            <select class="form-control" id="automotriz">
                              <!-- Opciones de Automotriz -->
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="producto" class="label-white">Producto:</label>
                            <select class="form-control" id="producto">
                              <!-- Opciones de Producto -->
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="motor" class="label-white">Motor:</label>
                            <select class="form-control" id="motor">
                              <!-- Opciones de Motor -->
                            </select>
                          </div>
                          
                          <div class="form-group col-md-6">
                            <label for="marca" class="label-white">Marca:</label>
                            <select class="form-control" id="marca">
                              <!-- Opciones de Marca -->
                            </select>
                          </div>
                          <button type="button" class="btn btn-primary" onclick="limpiarFiltro()">Limpiar Filtro</button>
                          <button type="submit" class="btn btn-primary">Filtrar</button>
                          
                </form>
                
                <% if (userLogged!=null&&userLogged.rol==1) { %>
                    <a class="btn btn-primary btn-rounded" href="/products/create">Agregar Producto</a>
                    <% } %>
                        <!-- Mostrar la información de la página actual y el número total de páginas -->
                        <p class="text-white">Página <%= currentPage %> de <%= totalPages %></p>

                        <section class="text-center mt-2 mb-4">
                            <div class="row">
                                <% products.forEach( prod=> { %>
                                    <%- include('../partials/product' ,{prod}) %>
                                <% } ) %>
                            </div>
                        </section>
                        </div>

                        <div class="pagination justify-content-center mt-3 bg-dark text-white">
                            <% if (currentPage > 1) { %>
                              <a href="/products?page=<%= currentPage - 1 %>" class="page-link bg-dark text-white">Anterior</a>
                            <% } %>
                          
                            <% if (pageRange.includes(1)) { %>
                              <a href="/products?page=1" class="page-link bg-dark text-white">1</a>
                              <% if (pageRange.includes(2)) { %>
                                <% if (pageRange[0] > 2) { %>
                                  <span class="page-link bg-dark text-white">...</span>
                                <% } %>
                                <% for (let i = 1; i < pageRange.length; i++) { %>
                                  <% if (pageRange[i] !== pageRange[i - 1] + 1) { %>
                                    <span class="page-link bg-dark text-white">...</span>
                                  <% } %>
                                  <a href="/products?page=<%= pageRange[i] %>" class="page-link bg-dark text-white"><%= pageRange[i] %></a>
                                <% } %>
                              <% } %>
                            <% } else { %>
                              <% if (pageRange.length > 0) { %>
                                <span class="page-link bg-dark text-white">...</span>
                              <% } %>
                              <% for (let i = 0; i < pageRange.length; i++) { %>
                                <% if (i > 0 && pageRange[i] !== pageRange[i - 1] + 1) { %>
                                  <span class="page-link bg-dark text-white">...</span>
                                <% } %>
                                <a href="/products?page=<%= pageRange[i] %>" class="page-link bg-dark text-white"><%= pageRange[i] %></a>
                              <% } %>
                            <% } %>
                          
                            <% if (currentPage < totalPages) { %>
                              <a href="/products?page=<%= currentPage + 1 %>" class="page-link bg-dark text-white">Siguiente</a>
                            <% } %>
                          </div>
                          
                          
            </div>

        </main>
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
                <script src="/js/cart.js"></script>
                <script>
                  function limpiarFiltro() {
                    document.getElementById("filter-form").reset();
                  }
                
                  document.getElementById("filter-form").addEventListener("submit", function(event) {
                    event.preventDefault();
                    
                  });
                </script>
</body>

</html>