<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <%- include('../partials/headeradmin') %>
        <main class="mt-5 pt-4 bg-dark">
            <div class="container">
                <h2 class="mt-5 mb-3 h2 text-center text-white">Nuestros Productos</h2>






                <form action="/search" id="filter-form" method="GET" class="row">
                  <div class="form-group col-md-6">
                    <label for="code" class="label-white">Código:</label>
                    <input type="text" class="form-control" id="code" name="code">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="description" class="label-white">Descripción:</label>
                    <input type="text" class="form-control" id="description" name="description">
                  </div>
                
                  <div class="form-group col-md-6">
                    <label for="automotive" class="label-white">Automotriz:</label>
                    <input type="text" class="form-control" id="automotive" name="automotive">
                  </div>
                
                  <div class="form-group col-md-6">
                    <label for="name" class="label-white">Producto:</label>
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                
                  <div class="form-group col-md-6">
                    <label for="engine" class="label-white">Motor:</label>
                    <input type="text" class="form-control" id="engine" name="engine">
                  </div>
                
                  <div class="form-group col-md-6">
                    <label for="brand" class="label-white">Marca:</label>
                    <input type="text" class="form-control" id="brand" name="brand">
                  </div>
                
                  <button type="button" class="btn-sm btn-primary" onclick="limpiarFiltro()">Limpiar Filtro</button>
                  <button type="submit" class="btn-sm btn-primary">Filtrar</button>
                </form>


              
                
                <% if (userLogged!=null&&userLogged.rol==1) { %>
                  <span></span>
                    <div><a class="btn-sm btn-primary btn-rounded" href="/products/create">Agregar Producto</a></div>
                    <% } %>
                        <!-- Mostrar la información de la página actual y el número total de páginas -->
                        <p class="text-white">Página <%= currentPage %> de <%= totalPages %></p>

                        <section class="text-center mt-2 mb-4">
                            <div class="row">
                                <% products.forEach( prod=> { %>
                                    <%- include('../partials/product' ,{prod}) %>
                                <% } ) %>
                            </div>
                        </section>
                        </div>

                        <div class="pagination justify-content-center mt-3 bg-dark text-white">
                            <% if (currentPage > 1) { %>
                              <a href="/products?page=<%= currentPage - 1 %>" class="page-link bg-dark text-white">Anterior</a>
                            <% } %>
                          
                            <% if (pageRange.includes(1)) { %>
                              <a href="/products?page=1" class="page-link bg-dark text-white">1</a>
                              <% if (pageRange.includes(2)) { %>
                                <% if (pageRange[0] > 2) { %>
                                  <span class="page-link bg-dark text-white">...</span>
                                <% } %>
                                <% for (let i = 1; i < pageRange.length; i++) { %>
                                  <% if (pageRange[i] !== pageRange[i - 1] + 1) { %>
                                    <span class="page-link bg-dark text-white">...</span>
                                  <% } %>
                                  <a href="/products?page=<%= pageRange[i] %>" class="page-link bg-dark text-white"><%= pageRange[i] %></a>
                                <% } %>
                              <% } %>
                            <% } else { %>
                              <% if (pageRange.length > 0) { %>
                                <span class="page-link bg-dark text-white">...</span>
                              <% } %>
                              <% for (let i = 0; i < pageRange.length; i++) { %>
                                <% if (i > 0 && pageRange[i] !== pageRange[i - 1] + 1) { %>
                                  <span class="page-link bg-dark text-white">...</span>
                                <% } %>
                                <a href="/products?page=<%= pageRange[i] %>" class="page-link bg-dark text-white"><%= pageRange[i] %></a>
                              <% } %>
                            <% } %>
                          
                            <% if (currentPage < totalPages) { %>
                              <a href="/products?page=<%= currentPage + 1 %>" class="page-link bg-dark text-white">Siguiente</a>
                            <% } %>
                          </div>      
            </div>

        </main>
        <script src="/js/cart.js"></script>
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
            <script src="/vendor/toastr/toastr.js"></script>
                
                <script>
                  function limpiarFiltro() {
                    document.getElementById("filter-form").reset();
                  }
                
                  document.getElementById("filter-form").addEventListener("submit", function(event) {
                    event.preventDefault();
                    
                  });
                </script>
</body>

</html>