<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <%- include('../partials/headeradmin') %>
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn animated">
                <h2 class="mt-5 mb-3 h2 text-center">Nuestros Productos</h2>
                <form action="/products/search" method="GET" class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="name" placeholder="Buscar por nombre">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="marca" placeholder="Buscar por marca">
                    </div>
                        <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                </form>
                
                <% if (user!=null&&user.admin) { %>
                    <a class="btn btn-primary btn-rounded" href="/products/create">Agregar Producto</a>
                    <% } %>
                        <!-- Mostrar la información de la página actual y el número total de páginas -->
                        <p>Página <%= currentPage %> de <%= totalPages %></p>
                        <section class="text-center mt-2 mb-4">
                            <div class="row wow fadeIn">
                                <% products.forEach( prod=> { %>
                                    <%- include('../partials/product' ,{prod}) %>
                                <% } ) %>
                            </div>
                        </section>
                        <!-- Agregar los enlaces de página anterior y siguiente -->
                        <div style="text-align: center;">
                            <% if (currentPage> 1) { %>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                      <li class="page-item"><a class="page-link" href="/products?page=<%= currentPage - 1 %>">Página anterior</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="/products?page=<%= currentPage + 1 %>">Página siguiente</a></li>
                                    </ul>
                                  </nav>
                            <% } %>
                        </div>
            </div>

        </main>
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
                <script src="/js/cart.js"></script>
</body>

</html>