<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('./partials/headeradmin') %>

      <!--Main layout-->
      <main class="bg-dark">
        <div class="container">
          <%- include('./partials/carousel') %>

          <!--Section: Products v.3-->
          <section class="text-center mb-4">

            <!--Grid row-->
            <div class="row">

              <% products.forEach( prod=> { %>
                <%- include('./partials/product' ,{prod}) %>

                  <% } ) %>

            </div>
            <!--Grid row-->



          </section>


        </div>
      </main>
      <!--Main layout-->

      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>

</body>

</html>