   
 <!DOCTYPE html>
 <html lang="es">
 
 <head>
     <%- include('./partials/head') %>
 </head>
 
 <body>
     <%- include('./partials/headeradmin') %>
     <main class="mt-5 pt-4 bg-dark white-text">
        <div class="container">
            <h2 class="mt-5 mb-3 h2 text-center">
               Todos los pedidos
            </h2>
            <div class="card mb-5 bg-dark white-text">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="card-header bg-danger">
                            Pedidos de Usuario ID
                        </div>
                        <table class="table table-responsive-md mb-0">
                            <thead>
                                <tr>
                                    <th class="white-text" style="width: 50px;">
                                        <strong>#</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Fecha</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Envío</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Pago</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Total</strong>
                                    </th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody class="white-text">
                                <% orders.forEach((order,index)=> { %>
                                    <tr>
                                        <th scope="row">
                                            <%= index + 1 %>
                                        </th>
                                        <td>
                                            <%= new Intl.DateTimeFormat('es-ES', { year: 'numeric' , month: 'numeric' ,
                                                day: '2-digit' ,hour: 'numeric' , minute: 'numeric'
                                                }).format(order.createdAt) %>
                                        </td>
                                        <td>
                                            <%= order.shippingMethod %>
                                        </td>
                                        <td>
                                            <%= order.paymentMethod %>
                                        </td>
                                        <td>$ <%= order.total %>
                                        </td>
                                        <td><a class="btn btn-warning btn-sm" href="<%= `/order/${order.id}` %> "><i
                                                    class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </main>
   
 <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>