<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/headeradmin') %>

    <main class="mt-5 pt-4 bg-dark white-text">
        <div class="container">
            <h2 class="mt-5 mb-3 h2 text-center">
               Todos los pedidos
            </h2>
            <div class="card mb-5 bg-dark white-text">
                    <div class="">
                        <div class="card-header bg-dark">
                            <form action="/orders" method="GET" class="form-inline">
                              <div class="form-group">
                                <label for="userId" class="mr-2">ID de Cliente:</label>
                                <input type="text" name="userId" id="userId" class="form-control" placeholder="Ingresa el ID de Cliente">
                              </div>
                              <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                              <% if (req.query.userId && req.query.userId.trim() !== "") { %>
                                <a href="/orders" class="btn btn-primary btn-sm ml-2">Ver Todos</a>
                              <% } %>
                            </form>
                          </div>
                        
                    <div class="card-body">
                        <table class="table table-responsive-md mb-0">
                            <thead>
                                <tr>
                                    <th class="white-text">
                                        <strong>ID de Pedido</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>ID de Cliente</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>ID de Usuario</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Nombre cliente</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Total</strong>
                                    </th>
                                    <th class="white-text">
                                        <strong>Ver</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="white-text">
                                <% orders.forEach( orders=> { %>
                                    <%- include('./partials/orders' ,{orders}) %>
                                        <% } ) %>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </main>
   
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>
