<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/headeradmin') %>

    <main class="mt-5 pt-4">
        <div class="container wow fadeIn animated">
            <h2 class="mt-5 mb-3 h2 text-center">
               Todos los pedidos
            </h2>
            <div class="card mb-5">
                    <div class="card-header">
                        Ejemplo
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-md mb-0">
                            <thead>
                                <tr>
                                    <th style="th-lg">
                                        <strong>ID de Pedido</strong>
                                    </th>
                                    <th class="th-lg">
                                        <strong>ID de Cliente</strong>
                                    </th>
                                    <th class="th-lg">
                                        <strong>Total</strong>
                                    </th>
                                    <th class="th-lg">
                                        <strong>Ver</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach( orders=> { %>
                                    <%- include('./partials/orders' ,{orders}) %>
                                        <% } ) %>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </main>
   
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>