<tr>
    <td>
        <%= orders.id %>
    </td>
    <td>    
        <%= orders.user.id_app %>
    </td>
    <td>    
         <%= orders.user.name %>
    </td>
    <td>
        <%= orders.userId %>
    </td>
    <td>
        <%= orders.total %>
    </td>
    <td>
        <a class="btn btn-warning btn-sm" href="/order/<%= orders.id %>"><i class="fas fa-eye"></i></a>
        <a class="btn btn-warning btn-sm" href="/orders/detail/<%= orders.id %>/pdf"><i class="fas fa-download"></i></a>
    </td>
</tr>