
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
        <div class="view overlay">
            <img src="/img/products/<%= prod.img != ''? prod.img: 'default.jpg' %>" class="card-img-top">
                <a href="/products/detail/<%= prod.id %>">
                    <div class="mask rgba-white-slight"></div>
                </a>
        </div>
        <div class="card-body text-center">
            <h5 class="font-weight-bold black-text">
                <%= prod.name %>
                <% if (prod.marked) { %>
                <span class="badge badge-pill primary-color">Novedad</span>
                <% } %>
            </h5>
            <h5>Marca <%= prod.marca %></h5>
            <h5>$<%= prod.price %></h5>
            
            <% if (prod.stock>20){ %>
                <h6 class="font-weight-medium white-text"
                    style="background-color: green; border-radius: 5px; padding: 5px; width: 50%;">
                    Stock <%= prod.stock %>
                </h6>
            <% } %>

            <% if (prod.stock <10){ %>
                <h6 class="font-weight-medium white-text"
                    style="background-color: red; border-radius: 5px; padding: 5px; width: 50%;">
                    Stock <%= prod.stock %>
                </h6>
            <% } %>

            <% if (prod.stock <20&& prod.stock>=10){ %>
                <h6 class="font-weight-bold black-text"
                    style="background-color: yellow; border-radius: 5px; padding: 5px; width: 50%;">
                    Stock <%= prod.stock %>
                </h6>
            <% } %>

            <a href="/products/detail/<%= prod.id %>" class="dark-grey-text">Ver detalles</a>                        
            <div class="d-flex">
                <button class="btn btn-primary btn-block agregar_carrito" data-id="<%= prod.id %>">Agregar al Pedido</button>
            </div>
            <% if (locals.userFound && locals.userAdmin) { %>
                <div class="d-flex justify-content-around mt-3">
                    <a type="button" href="/products/edit/<%= prod.id %>" 
                        class="btn btn-warning btn-sm btn-floating">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="/products/<%= prod.id %>?_method=delete" method="POST">
                        <button class="btn btn-danger btn-floating btn-sm" type="submit">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            <% } %>
        </div>


    </div>

</div>