<tr>
    <td>
        <%= user.id %>
    </td>
    <td>
        <%= user.admin %>
    </td>
    <td>
        <%= user.name %>
    </td>
    <td>
        <%= user.email %>
    </td>
    <td>
        <a class="btn btn-warning btn-sm" href="/pedidos?user=<%= user.id %>"><i class="fas fa-eye"></i></a>
    </td>
</tr>