<tr>
    <td>
        <%= user.id_app %>
    </td>
    <td>
        <%= (user.admin ? "admin" : "cliente") %> 
    </td>
    <td>
        <%= user.name %>
    </td>
    <td>
        <%= user.email %>
    </td>
    <td>
        <a class="btn btn-warning btn-sm" href="/edit/<%= user.id %>">Editar</a>
        <a class="btn btn-warning btn-sm" href="/delete/<%= user.id %>">Eliminar</a>
    </td>
</tr>
